*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    padding-top: 20px;
}
.safaa{
    color: blueviolet;
}
.mustafa{
    color: rgb(7, 151, 161);
}